@using System.Web.WebPages;
@model IList<IDisplayMode>
@{
    ViewBag.Title = "Index";
}

<style>
    body {
        background-color: #b6ff00;
    }
</style>

@Html.Partial("_Buttons")

<h2>iPhone view</h2>

<p>@ViewBag.Data</p>
<div><b>User-Agent:</b> @Request.UserAgent</div>
<div><b>Override user agent:</b> @Server.UrlDecode(ViewContext.HttpContext.GetOverriddenUserAgent())</div>

<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>Display Mode: <b>@item.DisplayModeId</b></td>
            <td>@item.CanHandleContext(ViewContext.HttpContext)</td>
        </tr>
    }
</table>

